button.main {
    background-color: lightblue;


}

.eggtype {
    background-color: lightpink;
    
}


body {
    background-color: lightpink
    
}

button {
    display: block; /* Makes the button a block element*/
    margin: 0 auto;
}