
/* Import Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* global variables */

* {
    font-family: 'Lato';
    font-size: 36px;
}

:root {
    --border-red: #b63c3e;
    --inner-red: #ffa7a9;
    --outer-red: #ff9595;
    --button-red: #ffd3d4;

}


/* type specifications across pages */


body {
    height: 850px;
    width: 600px;
    border-radius: 10px;
    border: 0px;

    background-color: var(--outer-red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border: 0px;
}

button {
    border-radius: 10px;
    border: 0px
}

button:hover {
    transform: scale(1.1);
}

header {
    width: 550px;
    height: 65px;
    
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}





/* class specifications across pages */

.img-btn {
    padding: 0;
    height: 50px;
    width: 50px;
}

.titlecards {
    margin-right: auto;

    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
}

.main-content {
    border: 3px solid;
    border-radius: 10px;
    border-color: var(--border-red);
    background-color: var(--inner-red);

    width: 550px;
    height: 760px;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* home page */
#intro-img {
    width: 360px;
    height: 480px;
}

#start-btn {
    margin-top: 50px;
    padding: 5px 10px;
    width: fit-content;
    height: fit-content;
    background-color: var(--button-red);
}